<footer class="text-center">
  <div class="container">
  <h2>GET IN TOUCH</h2><br>
  <a id="mail-link" href="mailto:colesperks@gmail.com"><p>colesperks@gmial.com</p></a>





  <div class="row">
      <div class="contact-icons text-center">
        <div class="col-xs-3 col-md-2 col-md-offset-2 ">
          <div class="icon1">
            <a href="https://instagram.com/colesperks/" target="blank"><i class="fa fa-instagram fa-lg"></i></a>
          </div>
        </div>
        <div class="col-xs-3 col-md-2">
          <div class="icon2">
            <a href="https://twitter.com/colesperks" target="blank"><i class="fa fa-twitter fa-lg"></i></a>
          </div>
        </div>
        <div class="col-xs-3 col-md-2">
          <div class="social icon3">
            <a href="https://ca.linkedin.com/pub/cole-perkins/5a/636/a85" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
          </div>
        </div>
        <div class="col-xs-3 col-md-2">
          <div class="icon4">
            <a href="https://github.com/Plutonicmatter" target="blank"><i class="fa fa-github fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>

  <p class="copyright"> &copy; COLE PERKINS - WEB DEVELOPER </p>
</div>
</footer>
