<header>
  <nav id="nav-bar" class="navbar-fixed-top">
    <div class="row text-center">
      <div  class="col-xs-12">
        <a href="/" target="blank">
          <!-- <h1 id="logo">CP</h1> -->
        </a>
      </div>
      <div id="site-nav">
        <div class ="col-xs-12">
          <ul>
            <div class="one col-xs-4">
              <li>
                <a href='/work.html'>WORK</a>
              </li>
            </div>
            <div class="two col-xs-4">
              <li>
                <a href='/'>COLE <span id="last-name">PERKINS<span></a>
              </li>
            </div>
            <div class="three col-xs-4">
              <li>
                <a href='/contact.html'>CONTACT</a>
              </li>
            </div>
            <hr />
          </ul>
        </div>
      </div>
    </div>
   </nav>
</header>


