// This stylesheet is to set any items that every style will inherit from


// /**********************************
// All page styles
// **********************************/
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// size can't go beyond 100vw
body {
  width: 100vw;
  background-color: $body-bg;
}

//no bullet points on ul
ul{
  list-style-type: none;

}

// link items

a, a:hover, a:visited {
  text-decoration: none;
  color: $black;
}

// /**********************************
// Fonts
// **********************************/
body {
  font-family: $base-font;
  font-weight: 500;

}

p, li {
  line-height: 25px;
}

h1, h2, h3, h4, h5 {
  font-family: $header-font;
}


// /**********************************
// Classes
// **********************************/

.cd-section {
  height: 100%;
  position: relative;
  min-height: 70vh;
}

.section-content{
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  text-align: center;
}

#header-area {
  height: 100%;
  position: relative;
  min-height: 108px;

}


#mail-icon {
  position: fixed;
    bottom: 5%;
    right: 5%;
    z-index:100;
  i{
    background: $blue;
    box-shadow: $shadow1;
    border-radius:50%;
      font-size:18px;
      padding: 25px;
  }
}
