// /**********************************
// All page styles
// **********************************/
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// size can't go beyond 100vw
body {
  width: 100vw;
  background-color: $body-bg;
}

//no bullet points on ul
ul{
  list-style-type: none;
  padding:0px;
}

// link items

a, a:hover, a:visited {
  text-decoration: none;
  color: $black;
}

// /**********************************
// Fonts
// **********************************/

h1, h2, h3, h4, h5 {
  font-family: $header-font;
}


