$shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow1:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

// /**********************************
// All page styles
// **********************************/
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// size can't go beyond 100vw
body {  width: 100vw;
}

//no bullet points on ul
ul{
  list-style-type: none;
  padding:0px;
}

// link items

a, a:hover, a:visited {
  text-decoration: none;
}

hr {
  border-color: $gold;
}


h3{
  font-family: $secondary-font;
    letter-spacing: 2px;
    padding: 10px;
    font-style:italic;
}

h1 {
  font-family: "Merriweather", serif;


  font-size: 5em; /* 40px/16=2.5em */
  letter-spacing: 2px;
  font-weight: 800;
  color: white;
  // line-height: 90px;
  // color: $gold;
  text-shadow: $shadow1;

}


@media only screen
  and (max-width: 992px){
 h1 {
    font-size: 4em;
  }
}

@media only screen
  and (max-width: 768px){
 h1 {
    font-size: 3em;
  }
}

@media only screen
  and (max-width: 480px){
 h1 {
    font-size: 2em;
  }
}


// /**********************************
// Intro-section
// **********************************/

#intro-section{
background-image: url(../images/surf.jpg);
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  min-height: 500px;

}


/**********************************
Skills-contaier
**********************************/


.skill-container {
  min-height: 60vh;
  hr {
    width: 50%;
  }
  padding-top: 150px;
}

.skills-icon {
  img {
  height: 70px;
  width: 70px;
  }
}




/**********************************
Contact-contaier
**********************************/

.contact-title hr{
    // height: 4px;
    height: 2em;
    width: 50%;
  }

.contact-icons{
  margin-bottom: 5%;
}

.contact-icons i {
  border: solid $gold 3px;
  border-radius: 50%;
  display: inline;
  padding:2rem;
}

.contact-icons i:hover {
     transition: background-color 0.5s ease;
    background-color:$gold;
    border: solid $gold 3px;
    transition: background-color 0.5s ease;
    color: $black;
}

/* visited link */
a:visited {
    color: $lt-grey;
}

.icon { margin-bottom: 6rem;}


/* --------------------------------
Main layout components
--------------------------------*/
.cd-section {
  min-height: 100%;
  position: relative;
  // padding: 2em 0;
  padding:100px 0;
}

main {
   background-image: url(../images/diagonal_waves.png);
    background-repeat: repeat;
    background-position: top left;
    background-attachment: scroll;
}

.cd-section-home:nth-of-type(odd) {
      min-height: 70vh;
}
.cd-section {
  color: $lt-grey;
}

.cd-section .section-content{
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 768px;
  text-align: center;
}

 #project-section img {
  width: 100%;
  max-width: 400px;
}

#project-section img:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);  /* For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
  -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
}
