footer {

  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../images/geometry2.png');
  height: 150px;
  margin-top: 150px;
}


.copyright {
  font-weight: 100;
  font-size: 14px;
  right: 0;
  bottom: 0;
  left: 0;

}

footer .row {
  line-height: 100px;

}

footer a {
  border: solid $black 1px;
  border-radius: 50%;
  padding: 8px;
  -webkit-transition: padding .6s;
  box-shadow: $shadow1;

}


// Social media related

.contact-icons {
  a:hover {

    border: transparent;
    padding: 16px;
    box-shadow: $shadow2;
  }
}


.contact-icons {
  .icon1 a:hover {
    background-color: $yellow;
  }
  .icon2 a:hover,
  .icon3 a:hover {

    background-color: $red;

  }
  .icon4 a:hover {

    background-color: $blue;

  }
}


