#nav-bar {
  font-family: $header-font;
  font-weight: 700;
  background-color: $white;
  // positon: fixed;
  opacity: .8;
}


/****************************
LOGO
****************************/
#logo {
  margin: 16px auto 0px auto;
  font-size: 40px;
  font-weight: 400;

}

/****************************
NAV BAR LINKS
****************************/


// Mobile Setttings
#nav-bar {
  li {
    line-height: 48px;
    display: inline;
    text-align: center;
    overflow: visible;
  }
}


// Navbar Animation
#site-nav {
  .one:hover ~ hr {
    margin-left: 0%;
    background: $yellow;
  }

  .two:hover ~ hr {
    margin-left: 33.3%;
    background: $red;

  }

  .three:hover ~ hr {
    margin-left: 66.6%;
     background: $blue;
  }

  hr {
    height: .25rem;
    width: 33.3%;
    margin: 0;
    // background: $yellow;
    border: none;
    transition: .3s ease-in-out;

  }
}

//hides last name on mobile screen
@media (max-width: 768px) {
#last-name {
  display:none;

  }
}
